﻿@model Identity.API.ViewModels.Account.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}


<div class="layout auth-layout">
    <div class="auth-container">
        <img src="~/logo.png" alt="" class="auth-container__logo">
        <div class="auth-container__box">
            <div class="title">
                You are now logged out
            </div>
        </div>
    </div>
</div>
