﻿@model Identity.API.ViewModels.Account.LogoutViewModel

<div class="layout auth-layout">
    <div class="auth-container">
        <img src="~/logo.png" alt="" class="auth-container__logo">
        <div class="auth-container__box">
            <div class="title">
                Would you like to logout?
            </div>
            <hr />
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                <a href="#">
                    <button type="submit" class="action-btn action-btn--option">Log out</button>
                </a>

            </form>
        </div>
    </div>
</div>
