@model Identity.API.ViewModels.Account.RegisterViewModel

<div class="layout auth-layout">
    <div class="auth-container">
        <img src="~/logo.png" alt="" class="auth-container__logo">
        <div class="auth-container__box">
            <div class="title">
                Sign Up
            </div>
            <hr />
            <partial name="_ValidationSummary" />
            
            <form asp-route="Register">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="input-container">
                    <div class="key">Phone</div>
                    <input asp-for="Phone" type="number" class="textbox" required autofocus />
                </div>
                <div class="input-container">
                    <div class="key">Email</div>
                    <input asp-for="Email" type="text" class="textbox" required autofocus />
                </div>

                <div class="input-container">
                    <div class="key">Password</div>
                    <input asp-for="Password" type="password" class="textbox" required />
                </div>

                <div class="input-container">
                    <div class="key">Confirm Password</div>
                    <input asp-for="ConfirmPassword" type="password" class="textbox" required />
                </div>

                <a href="#">
                    <button type="submit" class="action-btn">Sign Up</button>
                </a>
                <div class="option-text">
                    Already have account? <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login!</a>
                </div>
            </form>
        </div>
        <div class="auth-container__footer">
            <select class="language-selector">
                <option value="English">English</option>
                <option value="Indonesia">Indonesia</option>
            </select>
            <div class="menu-container">
                <div class="menu">
                    <a href="#">Help</a>
                </div>
                <div class="menu">
                    <a href="#">Privacy</a>
                </div>
                <div class="menu">
                    <a href="#">Terms</a>
                </div>
            </div>
        </div>
    </div>
</div>
