a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    bWarehouse: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body {
    color: black;
    line-height: 1;
    min-height: 100vh
}

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:after, blockquote:before {
    content: "";
    content: none
}

q:after, q:before {
    content: "";
    content: none
}

table {
    bWarehouse-collapse: collapse;
    bWarehouse-spacing: 0
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Mina/Mina-Regular.ttf") format("truetype")
}

@font-face {
    font-family: Mina;
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/Mina/Mina-Bold.ttf") format("truetype")
}

.attachment-container { margin-bottom: 2rem }

.attachment-container > .title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem
}

.attachment-container > .attachment {
    font-weight: bold;
    padding-top: 1rem;
}

.attachment-container > .attachment-input { padding-top: 0.5rem }

.attachment-container > .attachment-box { padding-top: 0.5rem }

.partner-layout {
    -ms-grid-columns: 1fr 4fr;
    background-color: #F2F2F2;
    color: black;
    display: -ms-grid;
    display: grid;
    font-family: Mina;
    grid-template-columns: 1fr 4fr;
    padding: 0 !important;
}

.partner-layout .sidebar-container { background-color: #005A51 !important }

.partner-layout .user-container { background: #009688 !important }

.partner-layout .action-btn { background-color: #009688 !important }

.partner-layout .action-btn--option { background-color: rgba(0, 150, 136, 0.7) }

.admin-layout {
    -ms-grid-columns: 1fr 4fr;
    background-color: #F2F2F2;
    color: black;
    display: -ms-grid;
    display: grid;
    font-family: Mina;
    grid-template-columns: 1fr 4fr;
    padding: 0 !important;
}

.admin-layout .sidebar-container { background-color: #4D0600 !important }

.admin-layout .action-btn { background-color: #880B00 !important }

.admin-layout .action-btn--option { background-color: rgba(136, 11, 0, 0.7) }

.admin-layout .date-selector, .admin-layout .location-selector, .admin-layout .user-container { background: #880B00 !important }

.auth-layout {
    -ms-flex-line-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    align-content: center;
    background-color: #F2F2F2;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Mina;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
}

.auth-container { max-width: 450px }

.auth-container__logo {
    display: block;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 50%;
}

.auth-container__box {
    background-color: rgba(255, 255, 255, 0.7);
    bWarehouse-radius: 10px;
    color: #000000;
    opacity: 0.8;
    padding: 1.5rem 50px;
    text-align: center;
}

.auth-container__box > .title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: bold;
}

.auth-container__box > .message { padding-bottom: 1.5rem }

.auth-container__box > hr {
    color: #707070;
    margin: 1.5rem 0;
    opacity: 0.1;
}

.auth-container__box .input-container > .textbox { text-align: center }

.auth-container__box .input-container > .forget-password {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem
}

.auth-container__box .action-btn {
    background-color: #009688;
    bWarehouse: none;
    bWarehouse-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: Mina;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    width: 100%;
}

.auth-container__box .action-btn--option { background-color: rgba(0, 0, 0, 0.7) }

.auth-container__box > .option-text { text-align: left }

.auth-container__box > .option-text > a { text-decoration: underline }

.auth-container__box > .title-secondary {
    font-weight: bold;
    margin: 1rem 0
}

.auth-container__box > .ext-logo-container .ext-logo {
    background: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.3);
    bWarehouse-radius: 10rem;
    margin: 0 0.5rem;
    max-height: 25px;
    max-width: 25px;
    padding: 0.3rem;
}

.auth-container__footer {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.auth-container__footer > .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.auth-container__footer > .menu-container > .menu { padding: 0 0 0 1.5rem }

.wallet-container__body .content-container, .wallet-container__body .history-container {
    background: rgba(255, 255, 255, 0.7);
    bWarehouse-radius: 10px;
    color: black;
    margin-top: 1rem;
}

.wallet-container__body .content-container .title, .wallet-container__body .history-container .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem
}

.menu-layout .menu-container .menu, .popup-layout .menu, .wallet-container__body .content-container .menu, .wallet-layout .menu {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100px;
    width: 100%
}

.menu-layout .menu-container .menu > .icon-name, .popup-layout .menu > .icon-name, .wallet-container__body .content-container .menu > .icon-name, .wallet-layout .menu > .icon-name {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 0.5rem;
    text-align: center;
    width: 100%;
}

.menu-layout .menu-container .menu > .icon, .popup-layout .menu > .icon, .wallet-container__body .content-container .menu > .icon, .wallet-layout .menu > .icon {
    background-color: rgba(0, 0, 0, 0.5);
    bWarehouse-radius: 4rem;
    height: 4rem;
    width: 4rem;
}

.wallet-layout {
    -ms-flex-line-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    align-content: center;
    background-color: #F2F2F2;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Mina;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
}

.wallet-layout .menu > .icon { background-color: white }

.wallet-layout .menu > .icon-name { color: white }

.wallet-container { max-width: 450px }

.wallet-container .action-btn { background-color: #009688 !important }

.wallet-container .action-btn--option { background-color: rgba(0, 150, 136, 0.7) }

.wallet-container__header {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    position: relative;
}

.wallet-container__header a {
    left: 0;
    position: absolute;
}

.wallet-container__header .material-icons { font-size: 40px }

.wallet-container__body > .menu-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#004B44));
    background-image: -o-linear-gradient(#009688, #004B44);
    background-image: linear-gradient(#009688, #004B44);
    bWarehouse-radius: 10px;
    height: 170px;
    width: 100%;
}

.wallet-container__body > .menu-container > .header {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.wallet-container__body > .menu-container > .header > .title {
    font-size: 1.5rem;
    font-weight: bold
}

.wallet-container__body > .menu-container > .header > .balance { font-weight: bold }

.wallet-container__body > .menu-container > .content {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}

.wallet-container__body .content-container { padding: 2rem }

.wallet-container__body .content-container .action-btn {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #009688;
    bWarehouse: none;
    bWarehouse-radius: 10px;
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Mina;
    font-size: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem;
}

.wallet-container__body .content-container .action-container {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end
}

.wallet-container__body .content-container .footer {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.75rem;
    justify-content: center;
    padding-top: 1rem
}

.wallet-container__body .content-container .footer > a { padding-left: 0.3rem }

.wallet-container__body .content-container .description {
    -ms-grid-columns: 1fr 10fr;
    display: -ms-grid;
    display: grid;
    font-weight: bold;
    grid-template-columns: 1fr 10fr;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.wallet-container__body .content-container .description .note { font-weight: normal }

.wallet-container__body .content-container .bank-row {
    -ms-grid-columns: 4fr 1fr;
    background: rgba(255, 255, 255, 0.5);
    bWarehouse-radius: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-bottom: 1rem;
    padding: 1rem;
}

.wallet-container__body .content-container .bank-row > .detail {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}

.wallet-container__body .content-container .bank-row > .detail > .title {
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 1rem;
    width: 100%;
}

.wallet-container__body .content-container .bank-row > .detail > .owner { width: 50% }

.wallet-container__body .content-container .bank-row > .detail > .account { width: 50% }

.wallet-container__body .content-container .bank-row > .action-container {
    -ms-flex-pack: space-evenly;
    -webkit-box-pack: space-evenly;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly
}

.wallet-container__body .content-container .bank-row > .action-container > .action-logo { cursor: pointer }

.wallet-container__body .history-container > .title { padding: 2rem 2rem 0 2rem }

.wallet-container__body .history-container > .history-row > .history-date {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0.3rem 2rem;
}

.wallet-container__body .history-container > .history-row > .history {
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.wallet-container__body .history-container > .history-row > .history > .label {
    font-weight: bold;
    padding-left: 2rem;
    padding-top: 1rem;
}

.wallet-container__body .history-container > .history-row > .history > .amount {
    font-weight: bold;
    padding-right: 2rem;
    padding-top: 1rem;
}

.wallet-container__body .history-container > .history-row > .history > .description {
    font-size: 0.75rem;
    padding: 0.5rem 2rem;
    width: 100%;
}

.wallet-container__body .history-container > .history-row > .history hr {
    opacity: 0.2;
    width: 100%;
}

.wallet-container__body .history-container > .history-date { background: rgba(0, 0, 0, 0.3) }

.wallet-container__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.wallet-container__footer {
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.wallet-container__footer > .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.wallet-container__footer > .menu-container > .menu { padding: 0 0 0 1.5rem }

.menu-layout {
    font-family: Mina;
    position: absolute !important;
    top: 300px;
}

.menu-layout .mat-dialog-container { padding: 0px }

.menu-layout .menu-container {
    background-color: white;
    bWarehouse-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 1rem 0;
    width: 450px;
}

.sidebar-container {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.sidebar-container__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    padding: 3rem
}

.sidebar-container > .user-container {
    background: #000000;
    padding: 1.5rem 2.5rem
}

.sidebar-container > .user-container > .username { padding-bottom: 1.5rem }

.sidebar-container > .user-container > .role { opacity: 0.7 }

.sidebar-container > .wallet {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    background: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.sidebar-container > .wallet > .title { font-weight: bold }

.sidebar-container > .menu-container { padding-top: 1rem }

.sidebar-container > .menu-container > .menu {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background: none;
    bWarehouse: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Mina;
    font-size: 1rem;
    padding: 0.8rem 2.5rem;
}

.sidebar-container > .menu-container > .menu:hover {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.sidebar-container > .menu-container > .menu > .icon {
    background: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.3);
    bWarehouse-radius: 10rem;
    max-height: 25px;
    max-width: 25px;
    padding: 0.3rem
}

.sidebar-container > .menu-container > .menu > .icon-name {
    color: white;
    padding-left: 2rem;
}

.sidebar-container > .footer-container {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sidebar-container > .footer-container > .version {
    margin: 0 2.5rem;
    padding: 1rem 0
}

.sidebar-container > .footer-container > .language-selector { margin: 0 2.5rem }

.portal-layout {
    -ms-grid-columns: 1fr 4fr;
    background-color: #F2F2F2;
    color: black;
    display: -ms-grid;
    display: grid;
    font-family: Mina;
    grid-template-columns: 1fr 4fr;
    padding: 0 !important;
}

.chat-page .header-container, .page-container .header-container {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.chat-page .header-container > .title, .page-container .flex-kv-container .header-container > .title, .page-container .header-container > .title, .page-container .io-indicator-container .header-container > .title, .page-container .page-detail-container .header-container > .title, .page-container .table-container .header-container > .title { font-weight: bold }

.chat-page .header-container > .action-btn-container, .page-container .flex-kv-container .header-container > .action-btn-container, .page-container .header-container > .action-btn-container, .page-container .io-indicator-container .header-container > .action-btn-container, .page-container .page-detail-container .header-container > .action-btn-container, .page-container .table-container .header-container > .action-btn-container { margin-left: 3rem }

.page-container { padding: 4rem }

.page-container .header-container {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem
}

.page-container .header-container > .title { font-size: 2rem }

.page-container .header-container > .timestamp { padding-left: 3rem }

.page-container .header-container > .source {
    padding-top: 1rem;
    width: 100%;
}

.page-container .page-detail-container {
    -ms-flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap
}

.page-container .page-detail-container .header-container { width: 100% }

.page-container .page-detail-container .header-container > .title { font-size: 1.5rem }

.page-container .page-detail-container .logo {
    bWarehouse-radius: 300px;
    margin-right: 4rem;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
}

.page-container .page-detail-container .logo:hover {
    cursor: pointer;
    opacity: 0.8;
}

.page-container .page-detail-container .logo img { margin: 0 auto }

.page-container .page-detail-container .logo input { display: none }

.page-container .page-detail-container .no-side-padding {
    padding-left: 0px !important;
    padding-right: 0px !important
}

.page-container .page-detail-container > .detail-container { padding: 1rem }

.page-container .page-detail-container > .detail-container > .detail {
    max-width: 500px;
    padding: 0.5rem 1.5rem;
}

.page-container .page-detail-container > .detail-container > .detail > .key {
    font-weight: bold;
    margin-bottom: 10px
}

.page-container .page-detail-container > .detail-container > .detail > .value { opacity: 0.5 }

.page-container .page-detail-container > .detail-container > .detail > .textbox {
    background-color: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.5);
    bWarehouse-radius: 10px;
    font-size: 1rem;
    margin: 0px !important;
    min-width: 350px;
    opacity: 0.5;
    padding: 1rem 0;
    text-align: center;
}

.page-container .page-detail-container > .detail-container > .detail > .options {
    bWarehouse: 1px solid rgba(0, 0, 0, 0.5);
    min-width: 350px;
    padding: 0.7rem 0;
    text-align: center
}

.page-container .table-container { padding-bottom: 2rem }

.page-container .table-container > .header-container > .title { font-size: 1.5rem }

.page-container .table-container > .table { text-align: left }

.page-container .table-container > .table th {
    font-weight: bold;
    padding: 1rem 3rem 1rem 0
}

.page-container .table-container > .table td { padding: 0.5rem 2rem 0.5rem 0 }

.page-container .table-container > .table td img {
    max-height: 25px;
    max-width: 25px;
}

.page-container .table-container > .table td.center { text-align: center }

.page-container .table-container > .table td input { bWarehouse-radius: 1rem }

.page-container .table-container > .table td.debit { color: rgba(0, 150, 136, 0.7) }

.page-container .table-container > .table td.credit { color: rgba(255, 0, 0, 0.7) }

.page-container .table-container > .table tfoot {
    bWarehouse-top: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold
}

.page-container .flex-kv-container { padding-bottom: 2rem }

.page-container .flex-kv-container > .header-container > .title { font-size: 1.5rem }

.page-container .flex-kv-container > .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.5rem;
    width: 100%;
}

.page-container .flex-kv-container > .flex-container > .flex-col { width: 50% }

.page-container .flex-kv-container > .flex-container > .flex-col > .row {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.5rem 0.5rem 0rem;
    width: 100%;
}

.page-container .flex-kv-container > .flex-container > .flex-col > .row > .key { font-weight: bold }

.page-container .flex-kv-container > .flex-container > .flex-col > .row > .value { padding-right: 3rem }

.page-container .io-indicator-container { padding-bottom: 2rem }

.page-container .io-indicator-container > .header-container > .title { font-size: 1.5rem }

.page-container .io-indicator-container > .container { margin-top: 1rem }

.page-container .io-indicator-container > .container > .row {
    -ms-grid-columns: 1fr 3fr 1fr;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem 0.5rem 0.5rem 0rem;
    width: 100%;
}

.page-container .io-indicator-container > .container > .row > .key { font-weight: bold }

.page-container .io-indicator-container > .container > .row > .indicator {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.page-container .io-indicator-container > .container > .row > .value { padding: 0 3rem }

.pin-layout { max-width: 350px !important }

.pin-container { padding-bottom: 2rem }

.pin-container > .textbox-container { margin-top: 4rem }

.pin-container > .textbox-container > .textbox > input {
    background: none;
    bWarehouse: none;
    font-size: 2rem;
    letter-spacing: 40px;
    margin-left: 17px;
    width: 360px;
}

.pin-container > .textbox-container > .textbox > .line {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between
}

.pin-container > .textbox-container > .textbox > .line > hr { width: 35px }

.pin-container > .button-container {
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
    text-align: center;
}

.pin-container > .button-container > :first-child {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.pin-container > .button-container > :nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

.pin-container > .button-container > :nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}

.pin-container > .button-container > :nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
}

.pin-container > .button-container > :nth-child(5) {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

.pin-container > .button-container > :nth-child(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 2;
}

.pin-container > .button-container > :nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

.pin-container > .button-container > :nth-child(8) {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

.pin-container > .button-container > :nth-child(9) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

.pin-container > .button-container > :nth-child(10) {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
}

.pin-container > .button-container > :nth-child(11) {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

.pin-container > .button-container > :nth-child(12) {
    -ms-grid-column: 3;
    -ms-grid-row: 4;
}

.pin-container > .button-container > .numkey {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem
}

.popup-layout {
    background: white;
    bWarehouse-radius: 10px;
    font-family: Mina;
    margin: auto;
    margin-top: 5rem;
    max-width: 1000px;
    padding: 1.5rem;
    position: relative !important
}

.popup-layout .mat-dialog-container {
    -webkit-box-shadow: none;
    background: none;
    box-shadow: none;
    padding: 0;
}

.popup-layout .title {
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.popup-layout .sub-title {
    padding-top: 1rem;
    text-align: center
}

.popup-layout .full-action-btn {
    background-color: #009688;
    bWarehouse-bottom-left-radius: 10px;
    bWarehouse-bottom-right-radius: 10px;
    bottom: 0;
    color: white;
    left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

.error-layout {
    -ms-flex-line-pack: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    align-content: center;
    background-color: #F2F2F2;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Mina;
    height: 100%;
    justify-content: center;
    min-height: 100vh;
}

.error-container { max-width: 450px }

.error-container__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.error-container__box {
    background-color: rgba(255, 255, 255, 0.7);
    bWarehouse-radius: 10px;
    color: #000000;
    opacity: 0.8;
    padding: 1.5rem 50px;
    text-align: center;
}

.error-container__box > .title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
    font-weight: bold;
}

.error-container__box > .description { margin-top: 2rem }

.error-container__box > .description > .text { margin-top: 0.5rem }

.validation-errors {
    background: #d63130;
    bWarehouse-radius: 10px;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}

.validation-errors > .validation-message { padding: 0.5rem }

.mini-chart__container, .table-chart__container { margin: 5px }

.mini-chart__header, .table-chart__header {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.mini-chart__title, .table-chart__title {
    font-size: 1.2rem;
    font-weight: bold
}

.chart-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.action-btn {
    background: rgba(0, 0, 0, 0.7);
    bWarehouse: none;
    bWarehouse-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 1rem;
    padding: 0.5rem 1.2rem;
}

.action-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.layout { padding: 1rem }

a {
    color: #009688;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 150, 136, 0.7);
    opacity: 0.7;
}

.input-container > .textbox {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    background-color: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.5);
    bWarehouse-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    min-width: 100%;
    opacity: 0.5;
    padding: 0.8rem 0;
}

.input-container > .textbox > input {
    bWarehouse: none;
    bWarehouse: none;
    font-size: 1rem;
    margin: 0 1rem;
    width: 100%;
}

.input-container > .textbox > textarea { bWarehouse: none }

.input-container > .selector {
    bWarehouse: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0;
    min-width: 100%;
    padding: 0.8rem 0;
}

.date-selector {
    background-color: #009688;
    bWarehouse: none;
    bWarehouse-radius: 10px;
    color: white;
    padding: 0.5rem;
}

.location-selector {
    background-color: #009688;
    bWarehouse: none;
    bWarehouse-radius: 10px;
    color: white;
    opacity: 1;
    padding: 0.2rem 1rem;
}

select {
    bWarehouse: none;
    bWarehouse-radius: 10px;
    font-family: Mina;
    font-size: 1rem;
    opacity: 0.7;
    padding: 0 1rem
}

.text-error {
    color: rgba(255, 0, 0, 0.7);
    font-size: 12px;
    margin-bottom: 1rem;
    text-align: start;
    width: 100%;
}

.text-error-summary {
    color: rgba(255, 0, 0, 0.7);
    margin-bottom: 2rem;
    width: 100%;
}

router-outlet { display: none }

table { width: 100% }

.chat-page {
    -ms-grid-rows: 1fr 10fr 1fr;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100%;
    max-height: 100vh;
    width: 100%;
}

.chat-page > .header-container { background-color: rgba(0, 0, 0, 0.7) }

.chat-page > .header-container > .user {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 3rem;
    width: 100%;
}

.chat-page > .header-container > .user > .icon {
    background: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.3);
    bWarehouse-radius: 10rem;
    margin: 0 2rem 0 0;
    max-height: 25px;
    max-width: 25px;
    padding: 0.3rem;
}

.chat-page > .header-container > .user > .name {
    color: white;
    font-size: 1rem;
}

.chat-page > .chat-container {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-sizing: bWarehouse-box;
    background-color: #e5ddd5;
    box-sizing: bWarehouse-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 70px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
    width: 100%;
}

.chat-page > .chat-container > .chat-receiver {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.chat-page > .chat-container > .chat-receiver > .tail-container {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
    height: 20px;
    width: 20px;
}

.chat-page > .chat-container > .chat-receiver > .chatbox {
    background-color: white;
    bWarehouse-top-left-radius: 0
}

.chat-page > .chat-container > .chat-sender {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: end;
    position: relative;
}

.chat-page > .chat-container > .chat-sender > .tail-container {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADAUExURUxpcXmHa4maet/4yA0aDRMTE8fhsgAAAAAAAMDXrCsxJeX/z1xzXIiYetPsvGBsVUdPPuH8zOH8zNDrvMvmtrrOpwAAAAAAABUVFRoaGtnyxLTMozQ+MMfftFBeSR8nH5aoh6q/mW9+ZN/4yMjhtRwlHAAAAIOWd+r/06C1kkNLOwsLC9z4xur/0+n/0t76x9v4xeL9y+b/z+j/0d/7yeH8yuX/zeD8ytz5xt76yOP/zeH+y+b/zuD8yd35xuf/0MY9jkkAAAAsdFJOUwBvd/ATDZIBAsMp/At/11c9yPbizHoICQwT4bY1ykkgjahl6s8bBYT6nUAWOLbtFAAAAIhJREFUKM/tzbUWwlAURNFBE9zdg0NecLf//yvKUJyUdDnl7HXXletXqmXl9wPbQ9JCcC+VJsOj2mDwovzj3osjHGNFEVxNRAj7UR1hlx+I4FbuC8HkZBE8OwnRxamdFsEmUxCCGdoI51RLBK9xVwTvjyMEbzlDMJMp7lqseNc8YNc6CGyF/a0vcmwhZbCG+kEAAAAASUVORK5CYII=);
    height: 20px;
    width: 20px;
}

.chat-page > .chat-container > .chat-sender > .chatbox {
    background-color: #dcf8c6;
    bWarehouse-top-right-radius: 0
}

.chat-page > .chat-container .chatbox {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    bWarehouse-radius: 10px;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    padding: 1rem;
}

.chat-page > .chat-container .chatbox .message { max-width: 80% }

.chat-page > .chat-container .chatbox .timestamp {
    font-size: 0.8rem;
    padding-left: 2rem
}

.chat-page > .footer-container {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.chat-page > .footer-container > input {
    background-color: white;
    bWarehouse: 1px solid rgba(0, 0, 0, 0.5);
    bWarehouse-radius: 10px;
    font-size: 1rem;
    margin: 1rem;
    min-width: 350px;
    padding: 0.5rem 1rem;
    width: 80%
}

.mat-expansion-panel-body {
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label { margin-top: 0 !important }

.advanced-pie-legend .legend-items-container .legend-items {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
}

.alert {
    color: white;
    background-color: #F72D1E;
    padding: 1rem;
    bWarehouse-radius: 1rem;
    margin: 1rem 0;
}