@inherits LayoutComponentBase

@namespace Identity.API.Shared

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<AuthorizeView Roles="superadmin">
    <Authorized>
        <div class="layout portal-layout">
            <SideNav UserName="@UserName" Role="@Role"/>
            <div class="page-container">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="layout error-layout">
            <div class="error-container">
                <Unauthorized></Unauthorized>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private string UserName = "";
    private string Role = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/account/login");
        }
        else
        {
            UserName = user.Claims.FirstOrDefault(c => c.Type == "email")?.Value;
            Role = user.Claims.FirstOrDefault(c => c.Type == "role")?.Value;
        }
    }

}