@inject NavigationManager NavigationManager

<div class="sidebar-container">
    <img src="./logo.png" alt="" class="sidebar-container__logo">
    <div class="user-container">
        <div class="username">@UserName</div>
        <div class="role">@Role</div>
    </div>


    <div class="menu-container">
        <a href="" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Portal Dashboard</div>
        </a>
        <a href="partner-upgrade/manage" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Manage Partner Upgrade Accounts</div>
        </a>
        <a href="partner/manage" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Manage Partner Accounts</div>
        </a>
        <a href="user/manage" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Manage User Accounts</div>
        </a>
        <a href="internal/manage" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Manage Internal Accounts</div>
        </a>
        <a href="account/manage" Match="NavLinkMatch.All" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Manage Account</div>
        </a>
        <a href="Account/Logout" class="menu">
            <img class="icon"
                 src="https://assets.gitlab-static.net/assets/auth_buttons/google_64-9ab7462cd2115e11f80171018d8c39bd493fc375e83202fbb6d37a487ad01908.png"
                 alt="">
            <div class="icon-name">Sign out</div>
        </a>
    </div>

    <div class="footer-container">
        <select class="language-selector">
            <option value="English">English</option>
            <option value="Indonesia">Indonesia</option>
        </select>
        <div class="version">
            App Version :100719-v1
        </div>
    </div>
</div>

@code
{

    [Parameter]
    public string UserName { get; set; }

    [Parameter]
    public string Role { get; set; }

}