@using System.Diagnostics
@using IdentityServer4.Hosting
@{
    var version = FileVersionInfo.GetVersionInfo(typeof(IdentityServerMiddleware).Assembly.Location).ProductVersion.Split('+').First();

}
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Create Date</th>
            <th>Email</th>
            <th>Role</th>
            <th>Paxel Home</th>
            <th>Name Perusahaan</th>
            <th>Alamat</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                <td>25</td>
                <td>$2.90</td>
            </tr>

    </tbody>
</table>